<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/general/styles.ejs') %>
    <title>Candidates</title>
</head>
<body>

    <%- include('../partials/general/loading.ejs') %> 

    <%- include('../partials/pages/multiple/nav.ejs') %> 

    <%- include('../partials/pages/candidate/createCandidateForm.ejs') %>

    <%- include('../partials/pages/candidate/candidateList.ejs') %>

    <!-- SERVICE FUNCTIONS -->
    <%- include("../partials/general/scripts.ejs") %>

    <!-- PAGE EVENTS -->
    <script type="module" src="../../public/events/candidate/onLoad.js"></script>


</body>
</html>