<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/general/styles.ejs') %> 
    <title>Login</title>
</head>
<body>

    <main>
        
        <% if (activationMessage == true) { %>
            <%- include('../partials/pages/login/activationMessage.ejs') %> 
        <% } %>

        <%- include('../partials/pages/login/loginForm.ejs') %> 
        
        <%- include('../partials/pages/login/registerForm.ejs') %> 
        
    </main>
    
    <%- include('../partials/general/scripts.ejs') %> 
</body>
</html>