<section id="current-candidate-listing" class="default-section side-buffer">

    <% candidates.forEach(candidate => { %>
        
        <div class="candidate-toggle-menu-wrapper">

            <div class="candidate-toggle-menu" active="candidate-toggle-menu-active">

                <div class="candidate-name-wrapper">
                    <h3 class="candidate-name"><%= candidate.firstName %> <%= candidate.lastName %></h3>
                </div>
    
                <div class="candidate-icon-wrapper">
                    <i class="fa-solid fa-angle-up candidate-close-icon" active="candidate-close-icon-active"></i>
                    <i class="fa-solid fa-angle-down candidate-open-icon" active="candidate-open-icon-dormant"></i>
                </div>
    
            </div>
    
            <div class="hidden-candidate-menu" active="hidden-candidate-menu-active">

                <div class="candidate-details" active='candidate-details-dormant'>
                    <% if (candidate.phone) { %>
                        <p class="candidate-phone candidate-detail"><%= candidate.phone %></p>
                    <% } else { %>
                        <p class="candidate-phone candidate-detail">No phone provided</p>
                    <% } %>
                    <% if (candidate.email) { %>
                        <p class="candidate-email candidate-detail"><%= candidate.email %></p>
                    <% } else { %>
                        <p class="candidate-email candidate-detail">No email provided</p>
                    <% } %>
                </div>

                <form class="candidate-edit-form" active="candidate-edit-form-active" id="<%=candidate._id%>" action="/candidates/update/<%=candidate._id%>">
                    <div class="error-message-wrapper">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <p class="error-message">Error Message</p>
                    </div>
                    <div class='input-wrapper'>
                        <label for="firstName">First Name</label>
                        <input class="form-control" name="firstName" type="text" placeholder="First Name" value="<%=candidate.firstName%>">
                        <span class="input-underline"></span>
                    </div>
                    <div class='input-wrapper'>
                        <label for="lastName">Last Name</label>
                        <input class="form-control" name="lastName" type="text" placeholder="Last Name" value="<%=candidate.lastName%>">
                        <span class="input-underline"></span>
                    </div>
                    <div class='input-wrapper'>
                        <label for="phone">Phone</label>
                        <input class="form-control" type="text" name="phone" placeholder="Phone" value="<%=candidate.phone%>">
                        <span class="input-underline"></span>
                    </div>
                    <div class='input-wrapper last-input-wrapper'>
                        <label for="email">Email</label>
                        <input class="form-control" type="text" name="email" placeholder="Email" value="<%=candidate.email%>">
                        <span class="input-underline"></span>
                    </div>
                    <input class="form-control" type="hidden" name="_csrf" value=<%=csrfToken%>>
                    <div class="update-button-wrapper">
                        <button class='candidate-update-button' type="submit">Update</button>
                        <button class="cancel-edit-form-button" type="button">Cancel</button>
                    </div>
                </form>


                <div class="candidate-options">
                    <div class="hidden-menu-icon-wrapper">
                        <i class="fa-solid fa-pen candidate-edit-icon"></i>
                    </div>
                    <div class="hidden-menu-icon-wrapper">
                        <i class="fa-solid fa-clipboard-list candidate-interview-icon"></i>
                    </div>
                    <div class="hidden-menu-icon-wrapper">
                        <i class="fa-solid fa-trash-can candidate-delete-icon"></i>
                    </div>
                </div>

                <div class="candidate-delete-menu">
                    <p class='confirmation-text'>Are you sure you want to delete <%=candidate.firstName%> <%=candidate.lastName%>?</p>
                    <div class="delete-menu-button-wrapper">
                        <button id="<%=candidate._id%>" class="candidate-delete-button">Delete</button>
                        <button class="cancel-delete-candidate-button">Cancel</button>
                    </div>
                </div>

            </div>



        </div>


    <% }) %>

</section>